<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane Id="6f291d9b-206c-4f1f-9a72-fbce1dec43fd" DockWidth="338" FloatingWidth="716" FloatingHeight="953" FloatingLeft="11" FloatingTop="543">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Toolbox" IsSelected="True" ContentId="Toolbox" FloatingLeft="11" FloatingTop="543" FloatingWidth="716" FloatingHeight="953" CanClose="True" LastActivationTimeStamp="12/19/2020 04:12:20" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical" DockWidth="3.3395962490046642*" DockHeight="0.75*">
        <LayoutDocumentPane DockWidth="0.7838014369693012*" DockHeight="1.5450643776824036*" />
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="217.5" FloatingWidth="716" FloatingHeight="953" FloatingLeft="989" FloatingTop="612">
          <LayoutAnchorablePane Id="5e71fff7-8910-4d8d-8ca0-3c80c89d1dc6" DockHeight="217.5" FloatingWidth="716" FloatingHeight="953" FloatingLeft="989" FloatingTop="612">
            <LayoutAnchorable AutoHideHeight="277" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Report" IsSelected="True" ContentId="Report" FloatingLeft="989" FloatingTop="612" FloatingWidth="716" FloatingHeight="953" CanClose="True" LastActivationTimeStamp="12/19/2020 04:12:26" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="349">
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="349" FloatingWidth="716" FloatingHeight="953" FloatingLeft="1222" FloatingTop="669">
          <LayoutAnchorablePane Id="b73147b7-b5a8-42a3-b74f-c1dbdfb66e30" FloatingWidth="716" FloatingHeight="953" FloatingLeft="1222" FloatingTop="669">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Explorer" IsSelected="True" ContentId="FileExplorer" CanClose="True" LastActivationTimeStamp="12/19/2020 04:05:21" />
          </LayoutAnchorablePane>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePane DockWidth="714" FloatingWidth="716" FloatingHeight="953" FloatingLeft="1769" FloatingTop="568">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Properties" IsSelected="True" ContentId="FileProperties" FloatingLeft="1769" FloatingTop="568" FloatingWidth="716" FloatingHeight="953" CanClose="True" LastActivationTimeStamp="12/19/2020 03:57:14" PreviousContainerId="6f291d9b-206c-4f1f-9a72-fbce1dec43fd" PreviousContainerIndex="2" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden />
</LayoutRoot>